---
layout: base.njk
title: Blogs
permalink: /blogs/
---
<!-- ABOUT -->
                <article class="blogs active" data-page="blogs">
                    <header><h2 class="h2 article-title">Blogs</h2></header>
                    <section class="blogs">
                        <div class="pf-v6-c-simple-list">
                            <ul class="pf-v6-c-simple-list__list" role="list">
                                {% for blog in blogs %}
                                <li class="pf-v6-c-simple-list__item">
                                    <a class="pf-v6-c-simple-list__item-link" href="../blogs/{{ blog.slug }}/">
                                        <div class="pf-v6-c-simple-list__item-content">
                                            <span class="pf-v6-c-simple-list__item-title">{{ blog.title }}</span>
                                            <div class="project-tags">
                                                {% for tag in blog.tags %}
                                                <span class="tag">{{ tag }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <span class="pf-v6-c-simple-list__item-date">{{ blog.date }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                </article>
            