<!-- ABOUT -->
                <article
                    class="certifications"
                    data-page="certifications" id="certifications"
                >
                    <header>
                        <h2 class="h2 article-title">Certifications</h2>
                    </header>
                    <section
                        class="certifications-grid"
                        id="certifications-grid"
                    ></section>
                </article>