{% include "sections/about.njk" %}
{% include "sections/projects.njk" %}
{% include "sections/certifications.njk" %}
{% include "sections/events.njk" %}
{% include "sections/blogs.njk" %}
{% include "sections/contact.njk" %}
