.blog-post-content {
  color: var(--light-gray);
  font-family: var(--ff-poppins);
  line-height: 1.6;
  font-size: var(--fs-6);
}

.blog-post-content h1,
.blog-post-content h2,
.blog-post-content h3 {
  color: var(--white-1);
  margin-bottom: 15px;
  margin-top: 30px;
}

.blog-post-content p {
  margin-bottom: 15px;
}

.blog-post-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.blog-post-content th,
.blog-post-content td {
  border: 1px solid var(--jet);
  padding: 10px 15px;
  text-align: left;
}

.blog-post-content th {
  background-color: var(--eerie-black-2);
  color: var(--white-1);
  font-weight: var(--fw-600);
}

.blog-post-content hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid var(--jet);
}

.blog-post-content ul {
  margin-bottom: 15px;
  padding-left: 20px;
  list-style-type: disc;
}

.blog-post-content ol {
  margin-bottom: 15px;
  padding-left: 20px;
  list-style-type: decimal;
}

.blog-post-content li {
  margin-bottom: 5px;
  list-style: inherit;
}

.blog-post-content .codehilite {
  background: var(--smoky-black);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--jet);
  overflow-x: auto;
  margin-bottom: 20px;
}

.blog-post-content .codehilite span {
  display: inline;
}

.blog-post-content a {
  display: inline;
  color: var(--vibrant-green);
  text-decoration: none;
  transition: var(--transition-1);
}

.blog-post-content a:hover,
.blog-post-content a:focus {
  color: var(--white-1);
  text-decoration: underline;
}

.blog-post-content code {
  font-family: monospace;
  color: var(--vibrant-green);
}

.blog-post-content pre {
  background: var(--eerie-black-1);
  border: 1px solid var(--jet);
  border-radius: 10px;
  padding: 20px;
  overflow-x: auto;
  margin: 20px 0;
}

.blog-post-content pre code {
  color: var(--light-gray);
}

.blog-post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  display: block;
}

/* Custom Scrollbar for Blog Section */
.blog-post-content .codehilite {
  scrollbar-width: thin;
  scrollbar-color: var(--jet) transparent;
}






/* BLOG POST TITLE */
.blog-post-title {
  color: var(--white-2);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  margin-bottom: 20px;
  line-height: 1.3;
}
